## Views, Functions, Stored Procedures

In [0]:
-- creating a demo database to test on

DROP DATABASE IF EXISTS new_data CASCADE;
create database new_data

create table new_data.new_table
(id int,
 name string);

insert into new_data.new_table
values (1, 'John'), (2, 'Jane') 

select * from new_data.new_table;

In [0]:
%skip
DROP DATABASE IF EXISTS new_data CASCADE;

## SQL Objects Comparison

| SQL Object                        | Purpose      | Advantages                                                                                                                              | Disadvantages                                                                                                                        |
| --------------------------------- | ----------------------------------------------------------------------------------- | --------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------ |
| **View**                          | Virtual table created from a SQL query to simplify data access and enhance security | • Simplifies complex queries<br>• Improves readability and reusability<br>• Can restrict column/row access for security                 | • Does not store data (except indexed views)<br>• Performance may degrade for complex views<br>• Limited logic (no loops/conditions) |
| **Function**                      | Returns a value or table; used for reusable calculations or transformations         | • Reusable logic<br>• Can be used inside SELECT, WHERE, JOIN<br>• Improves code consistency                                             | • Slower than inline SQL in large datasets<br>• Cannot modify data (in most DBs)<br>• Limited control flow                           |
| **Stored Procedure**              | Executes a set of SQL statements for business logic and data operations             | • Supports complex logic, loops, error handling<br>• Can modify data (INSERT/UPDATE/DELETE)<br>• Better performance via execution plans | • Cannot be directly used in SELECT<br>• Harder to debug and version control<br>• DB-specific implementation                         |
| **CTE (Common Table Expression)** | Temporary result set used within a single query for readability and recursion       | • Improves query readability<br>• Useful for recursive queries<br>• No permanent storage needed                                         | • Exists only for the query scope<br>• Not reusable across queries<br>• Can impact performance if misused                            |

---

## Quick When-to-Use Guide

| Use Case                  | Best Choice          |
| ------------------------- | -------------------- |
| Reuse a complex SELECT    | **View**             |
| Calculation inside SELECT | **Function**         |
| ETL / business logic      | **Stored Procedure** |
| Simplify a complex query  | **CTE**              |
| Recursive hierarchy       | **CTE**              |

---

## Interview Tip (One-liner)

> *Views simplify data access, Functions encapsulate calculations, Stored Procedures handle business logic, and CTEs improve query readability within a single execution.*

1️⃣**View Usage in SELECT**

Create View

```python
CREATE OR REPLACE VIEW sample_view AS
SELECT 
  customer_id,
  first_name,
  last_name
FROM sql_store.customers;
```

Query the View

```sql
SELECT *
FROM sample_view
WHERE customer_id > 100;
```

2️⃣ **Scalar Function (Returns a Single Value)**

 Create Scalar Function

```
CREATE OR REPLACE FUNCTION add_ten(x INT)
RETURNS INT
RETURN x + 10;
```

 Use Scalar Function in SELECT

```sql
SELECT 
  customer_id,
  add_ten(customer_id) AS customer_id_plus_10
FROM sql_store.customers;
```

---

  3️⃣**Table-Valued Function (Returns a Table)**

Databricks SQL supports **SQL table functions** using `RETURNS TABLE`.

 Create Table-Valued Function

```sql
CREATE OR REPLACE FUNCTION get_customers_by_city(city_name STRING)
RETURNS TABLE (
  customer_id INT,
  first_name STRING,
  last_name STRING,
  city STRING
)
RETURN
  SELECT 
    customer_id,
    first_name,
    last_name,
    city
  FROM sql_store.customers
  WHERE city = city_name;
```

---

  Use Table-Valued Function in SELECT

**Query the Function Like a Table**

```sql
SELECT *
FROM get_customers_by_city('Mumbai');
```

**Join Table-Valued Function with Another Table**

```sql
SELECT 
  o.order_id,
  c.first_name,
  c.last_name
FROM orders o
JOIN get_customers_by_city('Delhi') c
  ON o.customer_id = c.customer_id;
```

---




---

 Key Databricks Notes

* ✅ Scalar & Table-valued SQL functions supported
* ✅ Functions can be used in `SELECT`, `JOIN`, `WHERE`
* ❌ Functions cannot modify data

## Stored Procedure

In [0]:
create procedure 'info' (in age int, out res int)
as
begin
  set res = age + 1;
end;
call 'info'(30, @res);
select @res;

```sql
-- stored procedure
-- parameters in, out, in and out

CREATE DEFINER='root '@'localhost' PROCEDURE 'info' ()
BEGIN
select c.customer_id,
	concat(first_name, " ", last_name) as Full_Name,
	o.order_id,
	order_date,
	shipped_date,
	unit_price * quantity as Total_Price
	address,
	phone
from orders o
join customers c
using(customer_id)
join order_items oi
using(order_id);
END


call info;


-- use delimiter for creating Stored Procedure, Functions

CREATE PROCEDURE 'Sales_Report' ()
BEGIN
select sum(p.unit_price * quantity) as Total_sales,
 	sum(quantity) as Total_Quantity,
	quantity_in_stock - oi.quantity as Remaining_quantity
	p.product_id,
	name as product_name
from product p
join order_items oi
using(product_id)
group by product_id, product_name;
END



```

## Parameters

In [0]:

SELECT *
FROM sql_hr.employees
WHERE salary > :Min_Salary;

In [0]:
%skip
USE sql_hr;

DECLARE MinSalary2 INT DEFAULT 50000;

SELECT * FROM employees WHERE salary > MinSalary2;