### SQL Operations

`left` `mid` `right` `locate`

`where` `between` `like` Regular Expressions

In [0]:
-- left(col_name, no_of char)
-- mid(col_name, where, no_of char) 

    -- locate(" ",address) space_pos_no,
    -- locate(" ",address,locate(" ",address)+1) as 2nd_pos
    -- length(address) as total_no_char,
    -- locate(" ",address,locate(" ",address)+1) as 2nd_pos

use sql_store ;

select customer_id,
	concat(first_name," ",last_name) as Full_Name,
	address,
    left(address,locate(" ",address)-1) as Zipcode,
    mid(address, locate(" ",address)+1,
    locate(" ",address,locate(" ",address)+1) - locate(" ",address)) as State,
    right(address, length(address)  -  locate(" ",address,locate(" ",address)+1)) as State
from customers

-- where 
-- Relational Operator (<,>,<=,>=,==,!=) 
-- Logical Operator(and , or , not) 



select customer_id,
	concat(first_name," ",last_name) as Full_Name,
    address,
    birth_date,
    points
from customers
where not(year(birth_date) < 1986  or  points > 2000 and customer_id > 5)



select * 
from customers
where year(birth_date) >=1980 and year(birth_date) < 1990


select * , "Birthday mr's/miss's" as Status
from customers
where 
month(birth_date) = month(current_date) 
-- day(birth_date) = day(current_date) 


select *
from customers 
where customer_id in (
					select customer_id
					from orders 
					where year(order_date) = 2018)





-- between
-- membership operator (in , not in)
-- identity Operator(is , is not) 


select *
from customers
where state not in ('MA','VA','GA','CA')

where year(birth_date) between 1970 and 1991



select *
from customers
where (points between 1000 and 2000) or 
(monthname(birth_date) not in ('July','August','September'))

select *
from orders
where shipped_date is not null

-- Text Operator 
-- like operator 
-- 'be%'
-- '%ey'
-- 'bo%ey'
-- 'm__c%' 
-- '%m__c' 
 


select *
from customers
where last_name like '%e_y'
  
 
-- regexp
-- '^a'
-- 'y$' 
-- 'a[g-n][q,r,s]$'
-- 'ey'  
-- '^ac|ey$' 


select *
from customers
where last_name regexp 'ey' 

-- Relational Operator(<,>,=,!=,>=,<=) 
-- Logical Operator(and,or, not)
-- betweeen 
-- membership operator (in , not in)
-- identity operator( is , is not)
-- like
-- regexp 

select * 
from clients
where client_id in(
					select client_id
					from payments
					where payment_method = (
											select payment_method_id
											from payment_methods 
											where name = "credit card"))

### Joins & Aggregations

In [0]:
-- inner join 
-- outer join
	-- left outer join
    -- right outer join
-- cross join
-- natural join 
    
    
-- inner join 

select c.customer_id,
		concat(first_name," ",last_name) as Full_name,
        order_id,
        order_date,
        shipped_date
from customers c
join orders  o 
ON c.customer_id = o.Customer_id


select c.customer_id ,
	   concat(first_name," ",last_name) as Full_name,
       o.order_id,
       order_date,
       shipped_date,
       unit_price * quantity as Payable_ammount,
       address,
       phone
from orders o
join customers c 
	on o.customer_id=c.customer_id
join order_items oi 
	on o.order_id = oi.order_id




-- where shipped_date is null



-- Left outer join 
-- Right Outer join

select c.customer_id,
		concat(first_name," ",last_name) as Full_Name,
        order_id,
        order_date
from  orders o  
right join customers c
 using(customer_id)





-- Natural join 
-- cross join
 
 

select *
from customers
cross join products



select count(*)
from customers
cross join shippers

select c.customer_id,
		concat(first_name," ",last_name) as full_name,
        order_id
from customers c 
left join orders o 
	using(customer_id)
where order_id is null

select e.employee_id as Emp_id,
	e.first_name as Emp_name,
    e.job_title,
    e.salary as Emp_Sal,
    m.employee_id as Manager_id,
    m.first_name as Manager_Name,
    m.job_title as Manage_Desg,
    m.salary as Manager_sal
from employees e 
left join employees m 
	on e.reports_to = m.employee_id
where  e.salary >80000 
order by  e.salary  desc
limit 3,2  


select *
from customers
order by state, points desc


-- Group by & Having Clause 
select distinct product_id
from order_items

select p.product_id,
		name as Product_Name,
		count(product_id) as no_of_quan,
        sum(p.unit_price*quantity) as Total_Sales
from order_items oi 
join products p 
	using(product_id)
where product_id >= 4
group by product_id
having sum(p.unit_price*quantity) > 20
order by  sum(unit_price*quantity) desc
limit 2


-- select
-- from 
-- join 
-- where
-- group by
-- having 
-- order by
-- limit


-- order of execution of sql_query
-- from & join 
-- where 
-- group by 
-- having
-- select
-- distinict 
-- order by
-- limit

In [0]:
select c.customer_id,
concat(first_name, " ", last_name) as Full_name,
o.order_id,
shipped_date,
unit_price * quantity as Payable_amount,
address,
phone
from orders o
join customers c
on o.customer_id = c.customer_id
join order_items oi
on o.order_id = oi.order_id


use sql_invoicing
select
*
from payments p
join clients c
on p.payment_id = c.payment_id

customer id, name, phone, address, orderdate, shippeddate, paymentamount, productname

customer, order, ordered, product

-- outerjoin > leftouter, rightouter


select c.customer_id,
concat(first_name, " ", last_name) as Full_Name,
order_id,
order_date
from customers c
left outer join orders o -- "outer" keyword is optional
using (customer_id) --same column name


-- all client details without payment criteria
-- Left_table join Right_join


-- natural join create unexpected result, do not use
-- cross join all possible combinations
-- without any common column

select *
from customers
natural join products


select *
from customer c
cross join shippers s
on c.customer_id = s.shipper_id