## DML (Data Manipulation Language)

`insert` `update` `delete`
works on rows

Datatypes, length, Primary key, Not null, Auto Increment

In [0]:
insert into customers
values(default, "Mohan", "Lal",  "1990-01-01", 8765467876, "Sec 12", "Gurgaon", "HR", 3423)
values(default, "Sohan", "Lal",  "1991-01-01", 8765467876, "Sec 12", "Gurgaon", "HR", 3423)
values(default, "Kishan", "Kumar",  "1995-01-01", 8765467876, "Sec 12", "Gurgaon", "HR", 3423)

In [0]:
insert into customers(first_name, last_name, state, city, address)
values("Jivan", "Kr", "HR", "Gurgaon", "Sec - 2")

insert into orders(customer_id, order_date, status)
values(last_insert_id(), curdate(), 1)

In [0]:
-- insert: parent to child

-- update: Parent to child
update customers
set points = 8392
where timestampdiff(year, birth_date, current_date) >= 60


-- customer age >50 ,10% discount on unit price
-- customer > order > items

update order_items
set unit_price = unitprice * 0.9
where order_id in (

    select order_id from orders
    where customer_id in (

        select customer_id from customers
        where  timestampdiff(year, birth_date, current_date) >= 50 ))


-- delete: child to parent
-- cannot delete parent until child is present
delete from customers
where customer_id = 3

-- customers who have not ordered
delete from customers
where customer_id not in (
select distinct customer_id
from orders
)