In [0]:
concat (a, " ", b)
upper(a) lower (b)
substring(emp_name, 1, 3)
char_length(emp_name)

replace(emp_name, "John", "Jonathan")
Trim(emp_name)
lpad(emp_name, 10, '*')

salary > ANY ( select)
salary > ALL ( select)

## Basic Coding

In [0]:
select *
from country;

select id, name
from city;

select name
from city
order by ratings ASC;

select name as city_name
from city;

select co.name, ci.name
from city ci
join country co
on ci.country_id = co.id

## Filtering the output

In [0]:
select name
from city
where rating > 3;

select id, name
from country
where population > 3;

select name
from city
where name != 'Berlin' and name != 'Madrid';

-- Matches any sequence of zero or more characters
select name
from city
where name like 'P%' and name like '%s'

-- Matches any single character
select name
from city
where like '_ublin'

## Nested Queries

All employees whose salary is greater than the average salary of their own department.

In [0]:
-- Employees with salary > avg salary of dept

SELECT emp_id, emp_name, salary
FROM employee
WHERE salary > (
    SELECT AVG(salary)
    FROM employee e2
    WHERE e2.dept_id = employee.dept_id
)
ORDER BY salary DESC;

In [0]:
-- Customers who placed more than 2 orders

select customer_name, customer_id
from customer
where customer_id in (
  select customer_id
  from orders
  group_by

In [0]:
-- retrieve products that were never ordered

-- find second highest salary in the company

-- list departments with budget exceeding avg

-- employees whose manager salary > 1000000