## Nested Queries

All employees whose salary is greater than the average salary of their own department.

In [0]:
-- Employees with salary > avg salary of dept

SELECT emp_id, emp_name, salary
FROM employee
WHERE salary > (
    SELECT AVG(salary)
    FROM employee e2
    WHERE e2.dept_id = employee.dept_id
)
ORDER BY salary DESC;

In [0]:
-- Customers who placed more than 2 orders

select customer_name, customer_id
from customer
where customer_id in (
  select customer_id
  from orders
  group_by

In [0]:
-- retrieve products that were never ordered

-- find second highest salary in the company

-- list departments with budget exceeding avg

-- employees whose manager salary > 1000000