```sql
-- Even numbers
select id, name from AREALOCAITON
WHERE id IN (select id from AREALOCATION Where ID%2 = 0)

-- TYPES OF TRIANGLES

select ceil(avg((salary - cast(replace(cast(salary as char), '0', '') as UNSIGNED) )))
from Employees


-- finding median

-- rank order by power over

-- Derived Tables/ sub queries, derived columns

```

## Nested Queries

### Inserting Data

In [0]:
DROP DATABASE IF EXISTS nested_sql CASCADE;

In [0]:
DROP DATABASE IF EXISTS nested_sql CASCADE;
CREATE DATABASE nested_sql;
USE nested_sql;

-- Create Employees table
CREATE TABLE employees (
    emp_id INT,
    emp_name STRING,
    dept_id INT,
    salary DOUBLE,
    manager_id INT
);

-- Insert sample data
INSERT INTO employees VALUES
(1, 'John Doe', 10, 85000, 5),
(2, 'Sarah Lee', 20, 92000, 6),
(3, 'Mike Ross', 10, 78000, 5),
(4, 'Anna Smith', 30, 65000, 7),
(5, 'Robert King', 50, 120000, NULL),
(6, 'David Clark', 20, 140000, NULL),
(7, 'Emily Green', 30, 135000, NULL);

INSERT INTO employees VALUES
(8, 'Chris Young', 20, 72000, 2),
(9, 'Patricia Wells', 10, 68000, 1),
(10, 'Kevin Turner', 40, 110000, NULL),
(11, 'Sophia Adams', 50, 98000, 10),
(12, 'Jason Wright', 50, 115000, NULL),
(13, 'Karen Carter', 30, 62000, 7),
(14, 'Samuel Hill', 40, 90000, 10),
(15, 'Linda Morgan', 20, 76000, 6);



-- Create Products table
CREATE TABLE products (
    product_id INT,
    product_name STRING,
    category_id STRING,
    price DOUBLE
);

-- Insert sample data
INSERT INTO products VALUES
(101, 'Laptop', 'Electronics', 1200),
(102, 'Headphones', 'Electronics', 150),
(103, 'Table', 'Furniture', 300),
(104, 'Chair', 'Furniture', 120),
(105, 'Keyboard', 'Electronics', 80);

-- INSERT INTO products VALUES
-- (106, 'Monitor', 'Electronics', 250),
-- (107, 'Desk', 'Furniture', 450),
-- (108, 'Mouse', 'Electronics', 40),
-- (109, 'Bookshelf', 'Furniture', 200),
-- (110, 'Smartphone', 'Electronics', 900);


-- Create Orders table
CREATE TABLE orders (
    order_id INT,
    product_id INT,
    emp_id INT,
    order_date DATE,
    quantity INT,
    customer_id INT
);

-- Insert sample data
INSERT INTO orders VALUES
(1001, 101, 1, '2024-01-10', 1, 205),
(1002, 102, 2, '2024-01-12', 2, 207),
(1003, 101, 3, '2024-02-05', 1, 208),
(1004, 104, 1, '2024-02-09', 4, 205),
(1005, 103, 4, '2024-03-01', 1, 206);

INSERT INTO orders VALUES
(1006, 104, 2, '2024-03-15', 1, 207),
(1007, 103, 3, '2024-03-18', 2, 208),
(1008, 105, 1, '2024-04-01', 1, 205),
(1009, 102, 5, '2024-04-04', 1, 206),
(1010, 101, 4, '2024-04-10', 1, 205),
(1011, 102, 1, '2024-05-02', 2, 205),
(1012, 105, 2, '2024-05-05', 1, 207),
(1013, 104, 3, '2024-05-08', 1, 208),
(1014, 102, 5, '2024-06-01', 3, 206),
(1015, 103, 4, '2024-06-10', 1, 206);

In [0]:
CREATE TABLE departments (
    dept_id INT,
    dept_name STRING,
    budget DECIMAL(18,2)
);

INSERT INTO departments VALUES
(10, 'Sales', 500000.00),
(20, 'Marketing', 300000.00),
(30, 'HR', 150000.00),
(40, 'Finance', 800000.00),
(50, 'IT', 1200000.00);


-- Create Customers table
CREATE TABLE customers (
    customer_id INT,
    customer_name STRING,
    city STRING,
    email STRING
);

-- Insert sample data
INSERT INTO customers VALUES
(201, 'Alice Brown', 'New York', 'alice@example.com'),
(202, 'Tom Harris', 'Chicago', 'tom@example.com'),
(203, 'Diana White', 'Seattle', 'diana@example.com'),
(204, 'George Black', 'Boston', 'george@example.com'),
(205, 'Nina Patel', 'San Francisco', 'nina@example.com');

INSERT INTO customers VALUES
(206, 'Oliver Stone', 'New York', 'oliver@example.com'),
(207, 'Mia Green', 'Chicago', 'mia@example.com'),
(208, 'Jack Wilson', 'Seattle', 'jack@example.com'),
(209, 'Emma Scott', 'Boston', 'emma@example.com'),
(210, 'Liam Johnson', 'New York', 'liam@example.com');

In [0]:
select *
from orders

### Working on Queries

```
+-------------------+                 +----------------------+
|    departments    |                 |      employees       |
+-------------------+                 +----------------------+
| dept_id (PK)      |<--------------->| dept_id (FK)         |
| dept_name         |                 | emp_id (PK)          |<--
| budget            |                 | emp_name             |   |
+-------------------+                 | salary               |   |
                                      | manager_id (FK‚Üíemp_id)|  |
                                      +----------------------+   |
                                                                 |
+-------------------+               +----------------------+     |               +----------------------+
|     products      |               |       orders         |     |               |      customers       |
+-------------------+               +----------------------+     |               +----------------------+
| product_id (PK)   |<------------->| product_id (FK)      |     |       ------->| customer_id (PK)     |
| product_name      |               | order_id (PK)        |     |      |        | customer_name        |
| category_id       |               | emp_id               |<----       |        | city                 |
| price             |               | order_date           |            |        | email                |
+-------------------+               | quantity             |            |        +----------------------+
                                    | customer_id (FK)     |<-----------
                                    +----------------------+

```

---

 ‚úÖ **SQL Queries With Explanations (Easy ‚Üí Hard)**

---

 **1Ô∏è‚É£ Employees with salary > average salary of their department**

 **Query (Easy)**

```sql
SELECT *
FROM employees e
WHERE salary > (
    SELECT AVG(salary)
    FROM employees
    WHERE dept_id = e.dept_id
);
```

 **Explanation**

* A **correlated subquery** is used.
* For each employee, SQL computes the **department‚Äôs average salary**.
* Then returns only those employees whose salary is **greater than that average**.

---

 **2Ô∏è‚É£ Retrieve products that were never ordered**

 **Query (Easy)**

```sql
SELECT *
FROM products p
WHERE p.product_id NOT IN (
    SELECT DISTINCT product_id FROM orders
);
```

 **Explanation**

* Compares product IDs with those present in the `orders` table.
* If a product_id doesn‚Äôt appear in orders ‚Üí it means **no customer ever purchased it**.

---

 **3Ô∏è‚É£ Find the second highest salary in the company**

 **Query (Easy ‚Üí Medium)**

```sql
SELECT MAX(salary) AS second_highest_salary
FROM employees
WHERE salary < (SELECT MAX(salary) FROM employees);
```

 **Explanation**

* First find the **highest salary**.
* Then take the maximum of all **salaries less than that**, which gives the **second highest**.

---

 **4Ô∏è‚É£ List departments with budget > average department budget**

 **Query (Medium)**

```sql
SELECT *
FROM departments d
WHERE d.budget > (
    SELECT AVG(budget) FROM departments
);
```

 **Explanation**

* Gets the **average budget across all departments**.
* Returns departments whose budget exceeds this organizational average.

---

 **5Ô∏è‚É£ Employees whose manager‚Äôs salary > 1,000,000**

 **Query (Medium)**

```sql
SELECT e.*
FROM employees e
JOIN employees m ON e.manager_id = m.emp_id
WHERE m.salary > 1000000;
```

 **Explanation**

* This is a **self-join** because managers and employees live in the same table.
* Filters only those employees whose manager earns **more than 1M**.

---

 **6Ô∏è‚É£ Cities where customers with more than 3 orders reside**

 **Query (Medium ‚Üí Hard)**

```sql
SELECT c.city
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.city
HAVING COUNT(o.order_id) > 3;
```

 **Explanation**

* Joins customers ‚Üí orders.
* Groups by city and counts orders **per city**.
* Returns only cities where total orders exceed **3**.

---

 **7Ô∏è‚É£ Employees in the same department as 'John Doe'**

 **Query (Hard)**

```sql
SELECT *
FROM employees
WHERE dept_id = (
    SELECT dept_id
    FROM employees
    WHERE name = 'John Doe'
);
```

 **Explanation**

* First finds John Doe‚Äôs department.
* Then retrieves **all employees** working in the same department.

---

 **8Ô∏è‚É£ Products more expensive than the average price of products in the same category**

 **Query (Hard)**

```sql
SELECT p.*
FROM products p
WHERE p.price > (
    SELECT AVG(price)
    FROM products
    WHERE category_id = p.category_id
);
```

 **Explanation**

* A **correlated subquery** that compares a product‚Äôs price with the **avg price of its category**.
* Identifies premium or outlier-priced products.

---

 **9Ô∏è‚É£ Employees who earn more than their manager**

 **Query (Hard)**

```sql
SELECT e.*
FROM employees e
JOIN employees m ON e.manager_id = m.emp_id
WHERE e.salary > m.salary;
```

 **Explanation**

* Another **self-join**.
* Compares employee salary with their manager.
* Useful for compensation fairness analysis.

---

**1Ô∏è‚É£0Ô∏è‚É£ Customers who placed more than 2 orders**

 **Query (Easy)**

```sql
SELECT c.customer_id, c.customer_name, COUNT(o.order_id) AS total_orders
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.customer_name
HAVING COUNT(o.order_id) > 2;
```

 **Explanation**

* **JOIN** customers with orders
* **GROUP BY** each customer
* **COUNT orders**
* Use **HAVING** (not WHERE) because filtering is done **after aggregation**
* Returns customers who placed **more than 2 orders**

---

### Execution

‚úÖ **1. Why we *don‚Äôt* use `GROUP BY` in ‚Äúemployees with salary > department avg salary‚Äù?**

 ‚úî Example query:

```sql
SELECT e.*
FROM employees e
WHERE e.salary > (
    SELECT AVG(salary)
    FROM employees
    WHERE dept_id = e.dept_id
);
```

 üîç **Reason we don‚Äôt use GROUP BY**

Because:

* We are calculating **the department's average salary** **for each employee row**.
* This is done using a **correlated subquery**, not an aggregated result for the whole table.

If we wrote:

```sql
SELECT dept_id, AVG(salary)
FROM employees
GROUP BY dept_id;
```

This gives **one row per department**, but we **cannot directly compare each employee‚Äôs salary** in the same query without joining it.

Instead, the correlated subquery already returns the **one average number** for that employee‚Äôs department, so no `GROUP BY` is needed.

 ‚úî More intuitive explanation:

üìå *GROUP BY is used when you want aggregated results as output.*
üìå *Here, we want individual employees as output ‚Äî not grouped results.*
üìå Therefore, we use a subquery that calculates the avg salary per dept **internally**, not in the final output.

---

 If the question were written using GROUP BY?

We would need an additional join:

```sql
SELECT e.*
FROM employees e
JOIN (
    SELECT dept_id, AVG(salary) AS avg_sal
    FROM employees
    GROUP BY dept_id
) d ON e.dept_id = d.dept_id
WHERE e.salary > d.avg_sal;
```

This version **uses GROUP BY**, but it requires a derived table.

---

If you want, I can rank all your previous SQL questions (easy ‚Üí hard) with explanations too.

In [0]:
--
SELECT 
    d.dept_name,
    e.dept_id,
    AVG(e.salary) AS avg_salary
FROM employees e
JOIN departments d 
    ON e.dept_id = d.dept_id
GROUP BY d.dept_name, e.dept_id;

In [0]:
SELECT *
FROM employees e
WHERE salary < (
    SELECT AVG(salary)
    FROM employees
    WHERE dept_id = e.dept_id
);

In [0]:
-- SELECT *, AVG(budget) as avg
-- FROM departments 
-- GROUP by dept_id
-- HAVING budget > (
--     SELECT AVG(budget) FROM departments
-- )

In [0]:
SELECT e.*
FROM employees e
JOIN employees m ON e.manager_id = m.emp_id
WHERE m.salary > 100000;

In [0]:
-- Employees whose manager‚Äôs salary > 1,000,000

select *
from employees e
where e.manager_id IN
(select d.emp_id
from employees d
where  d.salary > 100000)

-- select d.emp_id
-- from employees d
-- where  d.salary > 100000