In [0]:
concat (a, " ", b)
upper(a) lower (b)
substring(emp_name, 1, 3)
char_length(emp_name)

replace(emp_name, "John", "Jonathan")
Trim(emp_name)
lpad(emp_name, 10, '*')

salary > ANY ( select)
salary > ALL ( select)

In [0]:
select *
from country;

select id, name
from city;

select name
from city
order by ratings ASC;

select name as city_name
from city;

select co.name, ci.name
from city ci
join country co
on ci.country_id = co.id

In [0]:
select name
from city
where rating > 3;

select id, name
from country
where population > 3;

select name
from city
where name != 'Berlin' and name != 'Madrid';

-- Matches any sequence of zero or more characters
select name
from city
where name like 'P%' and name like '%s'

-- Matches any single character
select name
from city
where like '_ublin'

In [0]:
-- Employees with salary > avg salary of dept

select emp_id, emp_name, salary
from employee
where salary > (select avg(salary) from employee group by dept where dept_id = employee.dept_id)
order by salary desc